# macOS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items

# Environment variables
.env
.env.local

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/
build/

# Logs
*.log

# Temporary files
*.tmp
*.temp

